<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batteryLevel</key>
	<integer>1</integer>
	<key>cloudKitMetadata</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGB0BYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QLAgJCgsMDQ4PEBESExQVFhcYGRobHB0eHyAh
	IiMkJSYnKCkqKywtLi8wMTIzNDU0NjQ0NTc0NDQ1NDQ0NTg5NDQ0NDQ6NDs0NTQ0NDQ1
	PD01NDU0Pj80NTRfEBZUb21ic3RvbmVkUHVibGljS2V5SURzXxAZSGFzVXBkYXRlZFBh
	cmVudFJlZmVyZW5jZV8QE0NoYWluUHJvdGVjdGlvbkRhdGFdS25vd25Ub1NlcnZlcl8Q
	EURpc3BsYXllZEhvc3RuYW1lWUJhc2VUb2tlbl8QEFdhbnRzQ2hhaW5QQ1NLZXlbUmVj
	b3JkQ3RpbWVaUm91dGluZ0tleV8QElByb3RlY3Rpb25EYXRhRXRhZ15FeHBpcmF0aW9u
	RGF0ZV8QGU1lcmdlYWJsZVZhbHVlRGVsdGFSZWNvcmRfECZQcmV2aW91c1Byb3RlY3Rp
	b25EYXRhRXRhZ0Zyb21Vbml0VGVzdF8QEkNvbmZsaWN0TG9zZXJFdGFnc18QGlByZXZp
	b3VzUHJvdGVjdGlvbkRhdGFFdGFnXxAUSGFzVXBkYXRlZEV4cGlyYXRpb25aUmVjb3Jk
	VHlwZV8QE0NyZWF0b3JVc2VyUmVjb3JkSURfEA9QYXJlbnRSZWZlcmVuY2VZU2hhcmVF
	dGFnWFBDU0tleUlEXFpvbmVpc2hLZXlJRF8QIE11dGFibGVFbmNyeXB0ZWRQdWJsaWNT
	aGFyaW5nS2V5VEVUYWdfEBZQcmV2aW91c1NoYXJlUmVmZXJlbmNlXxAQTW9kaWZpZWRC
	eURldmljZV5Qcm90ZWN0aW9uRGF0YV8QEVVzZUxpZ2h0d2VpZ2h0UENTXlNoYXJlUmVm
	ZXJlbmNlXxARVXBkYXRlZEV4cGlyYXRpb25TVVJMXxAWQ2hhaW5QYXJlbnRQdWJsaWNL
	ZXlJRFdFeHBpcmVkXxAYTGFzdE1vZGlmaWVkVXNlclJlY29yZElEW1JlY29yZE10aW1l
	XxAVV2FudHNQdWJsaWNTaGFyaW5nS2V5XxAWWm9uZVByb3RlY3Rpb25EYXRhRXRhZ1lX
	YXNDYWNoZWRfEA9DaGFpblByaXZhdGVLZXlaUGVybWlzc2lvblhSZWNvcmRJRFxBbGxQ
	Q1NLZXlJRHNfEBhIYXNVcGRhdGVkU2hhcmVSZWZlcmVuY2VfEBdQcmV2aW91c1BhcmVu
	dFJlZmVyZW5jZYAACAmACYABgAyAFIATgBGACxABgAKvEBVBQkNKS1RVVlxfY2ZoVWtu
	VW9VcXJVJG51bGxfEBJNYXN0ZXJCZWFjb25SZWNvcmTTREVGR0hJViRjbGFzc1pSZWNv
	cmROYW1lVlpvbmVJRIAIgAOABF8QJDcyNUE5ODlELUQ4NzEtNDlBNy1CMkZFLTk0OEMy
	NEYzNTZBQtVMTU5PRFA0UVJTXxAQZGF0YWJhc2VTY29wZUtleV8QEWFub255bW91c0NL
	VXNlcklEWW93bmVyTmFtZVhab25lTmFtZRAAgAaABYAHW0JlYWNvblN0b3JlXxAQX19k
	ZWZhdWx0T3duZXJfX9JXWFlaWiRjbGFzc25hbWVYJGNsYXNzZXNeQ0tSZWNvcmRab25l
	SUSiWVtYTlNPYmplY3TSV1hdXlpDS1JlY29yZElEol1b0mBEYWJXTlMudGltZSNBxrh/
	uIBiToAK0ldYZGVWTlNEYXRlomRb0mBEZ2IjQca4gvOFP33TREVGR2lqgA2ADtVMTU5P
	RFA0bG1TgBCAD1xfZGVmYXVsdFpvbmXTREVGR3BqgBJcRXhhbXBsZSBpUGFkUXIACAAR
	ABoAJAApADIANwBJAKQAvQDZAO8A/QERARsBLgE6AUUBWgFpAYUBrgHDAeAB9wICAhgC
	KgI0Aj0CSgJtAnICiwKeAq0CwQLQAuQC6AMBAwkDJAMwA0gDYQNrA30DiAORA54DuQPT
	A9UD1gPXA9kD2wPdA98D4QPjA+UD5wPpBAEEBwQcBCMEKgQ1BDwEPgRABEIEaQR0BIcE
	mwSlBK4EsASyBLQEtgTCBNUE2gTlBO4E/QUABQkFDgUZBRwFIQUpBTIFNAU5BUAFQwVI
	BVEFWAVaBVwFZwVpBWsFeAV/BYEFjgAAAAAAAAIBAAAAAAAAAHMAAAAAAAAAAAAAAAAA
	AAWQ
	</data>
	<key>identifier</key>
	<string>725A989D-D871-49A7-B2FE-948C24F356AB</string>
	<key>isZeus</key>
	<false/>
	<key>model</key>
	<string></string>
	<key>pairingDate</key>
	<date>2025-02-27T20:15:44Z</date>
	<key>privateKey</key>
	<dict>
		<key>key</key>
		<dict>
			<key>data</key>
			<data>
			J1AAk7qStLSbMhZT/XEve6by7hI0H7CslD/Oh7SrOc+mlmLnAO8c
			5FGnhi/s3TDlWNiL3SMy19NQuCWg6oTS+YfBZN79RiUmZtssTp9f
			UvZjmqMX3g==
			</data>
		</dict>
	</dict>
	<key>productId</key>
	<integer>21760</integer>
	<key>publicKey</key>
	<dict>
		<key>key</key>
		<dict>
			<key>data</key>
			<data>
			k6fWaOxFGbClYV6tu/ZK4vXdyWl2joSbJhbzu12Pfmf5p09w5LxK
			IvnABRfysSFkOAlo/F3Ii9Dq
			</data>
		</dict>
	</dict>
	<key>secondarySharedSecret</key>
	<dict>
		<key>key</key>
		<dict>
			<key>data</key>
			<data>
			1pWMT+FI3flAWmgbUEW5H6omZy+yZOzp30zZGxEa2A8=
			</data>
		</dict>
	</dict>
	<key>sharedSecret</key>
	<dict>
		<key>key</key>
		<dict>
			<key>data</key>
			<data>
			vM2ZjU/sKW/novHcwzTlY5xwGLOUOZjpgcZa9cNx2Y8=
			</data>
		</dict>
	</dict>
	<key>stableIdentifier</key>
	<array>
		<string>2001~#001234a12345aaac~#A02BCDEFG1AB</string>
	</array>
	<key>systemVersion</key>
	<string>2.0.73</string>
	<key>vendorId</key>
	<integer>76</integer>
</dict>
</plist>
