<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beaconIdentifier</key>
	<string>725A989D-D871-49A7-B2FE-948C24F356AB</string>
	<key>cloudKitMetadata</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGB0BYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QLAgJCgsMDQ4PEBESExQVFhcYGRobHB0eHyAh
	IiMkJSYnKCkqKywtLi8wMTIzNDU0NjQ0NTc0NDQ1NDQ0NTg5NDQ0NDQ6NDs0NTQ0NDQ1
	PD01NDU0Pj80NTRfEBZUb21ic3RvbmVkUHVibGljS2V5SURzXxAZSGFzVXBkYXRlZFBh
	cmVudFJlZmVyZW5jZV8QE0NoYWluUHJvdGVjdGlvbkRhdGFdS25vd25Ub1NlcnZlcl8Q
	EURpc3BsYXllZEhvc3RuYW1lWUJhc2VUb2tlbl8QEFdhbnRzQ2hhaW5QQ1NLZXlbUmVj
	b3JkQ3RpbWVaUm91dGluZ0tleV8QElByb3RlY3Rpb25EYXRhRXRhZ15FeHBpcmF0aW9u
	RGF0ZV8QGU1lcmdlYWJsZVZhbHVlRGVsdGFSZWNvcmRfECZQcmV2aW91c1Byb3RlY3Rp
	b25EYXRhRXRhZ0Zyb21Vbml0VGVzdF8QEkNvbmZsaWN0TG9zZXJFdGFnc18QGlByZXZp
	b3VzUHJvdGVjdGlvbkRhdGFFdGFnXxAUSGFzVXBkYXRlZEV4cGlyYXRpb25aUmVjb3Jk
	VHlwZV8QE0NyZWF0b3JVc2VyUmVjb3JkSURfEA9QYXJlbnRSZWZlcmVuY2VZU2hhcmVF
	dGFnWFBDU0tleUlEXFpvbmVpc2hLZXlJRF8QIE11dGFibGVFbmNyeXB0ZWRQdWJsaWNT
	aGFyaW5nS2V5VEVUYWdfEBZQcmV2aW91c1NoYXJlUmVmZXJlbmNlXxAQTW9kaWZpZWRC
	eURldmljZV5Qcm90ZWN0aW9uRGF0YV8QEVVzZUxpZ2h0d2VpZ2h0UENTXlNoYXJlUmVm
	ZXJlbmNlXxARVXBkYXRlZEV4cGlyYXRpb25TVVJMXxAWQ2hhaW5QYXJlbnRQdWJsaWNL
	ZXlJRFdFeHBpcmVkXxAYTGFzdE1vZGlmaWVkVXNlclJlY29yZElEW1JlY29yZE10aW1l
	XxAVV2FudHNQdWJsaWNTaGFyaW5nS2V5XxAWWm9uZVByb3RlY3Rpb25EYXRhRXRhZ1lX
	YXNDYWNoZWRfEA9DaGFpblByaXZhdGVLZXlaUGVybWlzc2lvblhSZWNvcmRJRFxBbGxQ
	Q1NLZXlJRHNfEBhIYXNVcGRhdGVkU2hhcmVSZWZlcmVuY2VfEBdQcmV2aW91c1BhcmVu
	dFJlZmVyZW5jZYAACAmACYABgAyAFIATgBGACxABgAKvEBVBQkNKS1RVVlxfY2ZoVWtu
	VW9VcXJVJG51bGxfEBJLZXlBbGlnbm1lbnRSZWNvcmTTREVGR0hJViRjbGFzc1pSZWNv
	cmROYW1lVlpvbmVJRIAIgAOABF8QJDcyNUE5ODlELUQ4NzEtNDlBNy1CMkZFLTk0OEMy
	NEYzNTZBQtVMTU5PRFA0UVJTXxAQZGF0YWJhc2VTY29wZUtleV8QEWFub255bW91c0NL
	VXNlcklEWW93bmVyTmFtZVhab25lTmFtZRAAgAaABYAHW0JlYWNvblN0b3JlXxAQX19k
	ZWZhdWx0T3duZXJfX9JXWFlaWiRjbGFzc25hbWVYJGNsYXNzZXNeQ0tSZWNvcmRab25l
	SUSiWVtYTlNPYmplY3TSV1hdXlpDS1JlY29yZElEol1b0mBEYWJXTlMudGltZSNBxrh/
	uJtkWoAK0ldYZGVWTlNEYXRlomRb0mBEZ2IjQcgFvG98SbrTREVGR2lqgA2ADtVMTU5P
	RFA0bG1TgBCAD1xfZGVmYXVsdFpvbmXTREVGR3BqgBJcRXhhbXBsZSBpUGFkUmR6AAgA
	EQAaACQAKQAyADcASQCkAL0A2QDvAP0BEQEbAS4BOgFFAVoBaQGFAa4BwwHgAfcCAgIY
	AioCNAI9AkoCbQJyAosCngKtAsEC0ALkAugDAQMJAyQDMANIA2EDawN9A4gDkQOeA7kD
	0wPVA9YD1wPZA9sD3QPfA+ED4wPlA+cD6QQBBAcEHAQjBCoENQQ8BD4EQARCBGkEdASH
	BJsEpQSuBLAEsgS0BLYEwgTVBNoE5QTuBP0FAAUJBQ4FGQUcBSEFKQUyBTQFOQVABUMF
	SAVRBVgFWgVcBWcFaQVrBXgFfwWBBY4AAAAAAAACAQAAAAAAAABzAAAAAAAAAAAAAAAA
	AAAFkQ==
	</data>
	<key>identifier</key>
	<string>D2C5F114-987C-48DB-9900-1E5B6D98671D</string>
	<key>lastIndexObservationDate</key>
	<date>2026-07-13T18:45:10Z</date>
	<key>lastIndexObserved</key>
	<integer>48090</integer>
</dict>
</plist>
