<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedBeacon</key>
	<string>725A989D-D871-49A7-B2FE-948C24F356AB</string>
	<key>cloudKitMetadata</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBz9YJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QLAgJCgsMDQ4PEBESExQVFhcYGRobHB0eHyAh
	IiMkJSYnKCkqKywtLi8wMTIzNDU0NjQ0NTc0NDQ1NDQ0NTg5NDQ0NDQ6NDs0NTQ0NDQ1
	PDc1NDU0PT40NTRfEBZUb21ic3RvbmVkUHVibGljS2V5SURzXxAZSGFzVXBkYXRlZFBh
	cmVudFJlZmVyZW5jZV8QE0NoYWluUHJvdGVjdGlvbkRhdGFdS25vd25Ub1NlcnZlcl8Q
	EURpc3BsYXllZEhvc3RuYW1lWUJhc2VUb2tlbl8QEFdhbnRzQ2hhaW5QQ1NLZXlbUmVj
	b3JkQ3RpbWVaUm91dGluZ0tleV8QElByb3RlY3Rpb25EYXRhRXRhZ15FeHBpcmF0aW9u
	RGF0ZV8QGU1lcmdlYWJsZVZhbHVlRGVsdGFSZWNvcmRfECZQcmV2aW91c1Byb3RlY3Rp
	b25EYXRhRXRhZ0Zyb21Vbml0VGVzdF8QEkNvbmZsaWN0TG9zZXJFdGFnc18QGlByZXZp
	b3VzUHJvdGVjdGlvbkRhdGFFdGFnXxAUSGFzVXBkYXRlZEV4cGlyYXRpb25aUmVjb3Jk
	VHlwZV8QE0NyZWF0b3JVc2VyUmVjb3JkSURfEA9QYXJlbnRSZWZlcmVuY2VZU2hhcmVF
	dGFnWFBDU0tleUlEXFpvbmVpc2hLZXlJRF8QIE11dGFibGVFbmNyeXB0ZWRQdWJsaWNT
	aGFyaW5nS2V5VEVUYWdfEBZQcmV2aW91c1NoYXJlUmVmZXJlbmNlXxAQTW9kaWZpZWRC
	eURldmljZV5Qcm90ZWN0aW9uRGF0YV8QEVVzZUxpZ2h0d2VpZ2h0UENTXlNoYXJlUmVm
	ZXJlbmNlXxARVXBkYXRlZEV4cGlyYXRpb25TVVJMXxAWQ2hhaW5QYXJlbnRQdWJsaWNL
	ZXlJRFdFeHBpcmVkXxAYTGFzdE1vZGlmaWVkVXNlclJlY29yZElEW1JlY29yZE10aW1l
	XxAVV2FudHNQdWJsaWNTaGFyaW5nS2V5XxAWWm9uZVByb3RlY3Rpb25EYXRhRXRhZ1lX
	YXNDYWNoZWRfEA9DaGFpblByaXZhdGVLZXlaUGVybWlzc2lvblhSZWNvcmRJRFxBbGxQ
	Q1NLZXlJRHNfEBhIYXNVcGRhdGVkU2hhcmVSZWZlcmVuY2VfEBdQcmV2aW91c1BhcmVu
	dFJlZmVyZW5jZYAACAmACYABgAuAE4ASgBAQAYACrxAUQEFCSUpTVFVbXmJlVGhrVGxU
	bm9VJG51bGxfEBJCZWFjb25OYW1pbmdSZWNvcmTTQ0RFRkdIViRjbGFzc1pSZWNvcmRO
	YW1lVlpvbmVJRIAIgAOABF8QJDU5QUZFNzVCLThCRDgtNDUyMi04NUJDLUY5QjBCRUNE
	MjU3QdVLTE1OQ080UFFSXxAQZGF0YWJhc2VTY29wZUtleV8QEWFub255bW91c0NLVXNl
	cklEWW93bmVyTmFtZVhab25lTmFtZRAAgAaABYAHW0JlYWNvblN0b3JlXxAQX19kZWZh
	dWx0T3duZXJfX9JWV1hZWiRjbGFzc25hbWVYJGNsYXNzZXNeQ0tSZWNvcmRab25lSUSi
	WFpYTlNPYmplY3TSVldcXVpDS1JlY29yZElEolxa0l9DYGFXTlMudGltZSNBxrh/uF+d
	soAK0lZXY2RWTlNEYXRlomNa00NERUZmZ4AMgA3VS0xNTkNPNGlqUoAPgA5cX2RlZmF1
	bHRab25l00NERUZtZ4ARXEV4YW1wbGUgaVBhZFFtAAgAEQAaACQAKQAyADcASQCkAL0A
	2QDvAP0BEQEbAS4BOgFFAVoBaQGFAa4BwwHgAfcCAgIYAioCNAI9AkoCbQJyAosCngKt
	AsEC0ALkAugDAQMJAyQDMANIA2EDawN9A4gDkQOeA7kD0wPVA9YD1wPZA9sD3QPfA+ED
	4wPlA+cD/gQEBBkEIAQnBDIEOQQ7BD0EPwRmBHEEhASYBKIEqwStBK8EsQSzBL8E0gTX
	BOIE6wT6BP0FBgULBRYFGQUeBSYFLwUxBTYFPQVABUcFSQVLBVYFWAVaBWcFbgVwBX0A
	AAAAAAACAQAAAAAAAABwAAAAAAAAAAAAAAAAAAAFfw==
	</data>
	<key>emoji</key>
	<string>🐈</string>
	<key>identifier</key>
	<string>59AFE75B-8BD8-4522-85BC-F9B0BECD257A</string>
	<key>name</key>
	<string>cat</string>
	<key>roleId</key>
	<integer>9</integer>
</dict>
</plist>
