<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batteryLevel</key>
	<integer>1</integer>
	<key>cloudKitMetadata</key>
	<data>
	TODO
	</data>
	<key>identifier</key>
	<string>F612A183-492B-45A8-A5A2-233CA9062A94</string>
	<key>isZeus</key>
	<false/>
	<key>model</key>
	<string></string>
	<key>pairingDate</key>
	<date>2025-02-27T20:03:32Z</date>
	<key>privateKey</key>
	<dict>
		<key>key</key>
		<dict>
			<key>data</key>
			<data>
			J1AAk7qStLSbMhZT/XEve6by7hI0H7CslD/Oh7SrOc+mlmLnAO8c
			5FGnhi/s3TDlWNiL3SMy19NQuCWg6oTS+YfBZN79RiUmZtssTp9f
			UvZjmqMX3o==
			</data>
		</dict>
	</dict>
	<key>productId</key>
	<integer>21760</integer>
	<key>publicKey</key>
	<dict>
		<key>key</key>
		<dict>
			<key>data</key>
			<data>
			k6fWaOxFGbClYV6tu/ZK4vXdyWl2joSbJhbzu12Pfmf5p09w5LxK
			IvnABRfysSFkOAlo/F3Ii9Dq
			</data>
		</dict>
	</dict>
	<key>secondarySharedSecret</key>
	<dict>
		<key>key</key>
		<dict>
			<key>data</key>
			<data>
			1pWMT+FI3flAWmgbUEW5H6omZy+yZOzp30zZGxEa2A8=
			</data>
		</dict>
	</dict>
	<key>sharedSecret</key>
	<dict>
		<key>key</key>
		<dict>
			<key>data</key>
			<data>
			vM2ZjU/sKW/novHcwzTlY5xwGLOUOZjpgcZa9cNx2Y+=
			</data>
		</dict>
	</dict>
	<key>stableIdentifier</key>
	<array>
		<string>2001~#001234a12345aaac~#A02BCDEFG1AB</string>
	</array>
	<key>systemVersion</key>
	<string>2.0.73</string>
	<key>vendorId</key>
	<integer>76</integer>
</dict>
</plist>
